# PART I: TITLE CREATION

In [1]:
import pandas as pd
import os
import numpy as np
import re
from collections import Counter
import spacy
from spacy.language import Language
from spacy_language_detection import LanguageDetector

In [2]:
#set globals

#list of all ports in vol
port_names = [
    "Amoy",
    "Canton",
    "Chefoo",
    "Chinkiang",
    "Foochow",
    "Hankow",
    "Kiukiang",
    "Newchang",
    "Ningpo", 
    "Shanghai",
    "Shanghae"
    "Yang-Tsze",
    "Swatow",
    "Tamsui",
    "Tientsin"
]

#list of years in vol
g_all_years = [
    "1860",
    "1861",
    "1862",
    "1863",
    "1864",
    "1865",
    "1866"
]

#source path
source_path = '/Users/katherinemika/Desktop/curation/historic_datasets/returns_trade_ports/'

#### Create local directory for combined csv and txt files

`cp ".../annual_trade_reports/csv/*" ".../annual_trade_reports/csv_and_txt"`
`cp ".../annual_trade_reports/txt/*" ".../annual_trade_reports/csv_and_txt"`

In [3]:
def title_maker(year):
    
    folder_path = source_path + str(year) + '/csv_and_txt'
    
    files_list = os.listdir(folder_path)
    
    #dataframe with names of all the files in the folder 
    df = pd.DataFrame(files_list,columns=['file_name'])
    
    df = df.sort_values(by="file_name",ascending=True).reset_index().drop(columns=['index'])
    
    #get file type (csv or txt)
    df["file_type"] = df["file_name"].str[-3:]
    
    df["file_name"] = df["file_name"].str[:-4]
    
    df["title_port"] = np.nan
    
    df['title_port'] = df['title_port'].astype(object)

    df["title_table_type"] = np.nan
    
    df['title_table_type'] = df['title_table_type'].astype(object)
    
    #list that will contain the page numbers of all content pages
    content_pages = []
    
    #loops through each txt file in the folder
    for index, row in df.iterrows():
        
        if row['file_type'] == 'txt':
            
            file_path = source_path + str(year) + '/txt/' + str(df.loc[index]['file_name'])+'.txt'
            file = open(file_path, 'r')
            Lines = file.readlines()
            
            #removes trailing characters from each line in the file
            lines_list = [line.strip('\n').strip('.').title() for line in Lines]
            
            #removes roman numerical characters from the beginning of all lines (this is for the port name titles)  
            combinations_to_remove = [r"I\.?[-—─-]", r"Ii\.?[-—─-]",r"Iii\.?[-—─-]",r"Iv\.?[-—─-]",r"V\.?[-—─-]",r"Vi\.?[-—─-]",r"Vii\.?[-—─-]",r"Viii\.?[-—─-]",r"Ix\.?[-—─-]"]
            pattern = '|'.join(combinations_to_remove)
            lines_list = [re.sub(pattern, "", line) for line in lines_list]
            
            #convert lists to sets
            file_set = set(lines_list)
            all_ports = set(port_names)
            all_years = set(g_all_years)

            #isolate string contents for ports
            extracted_ports = set()
            for l in file_set:
                for port in all_ports:
                    if port in l:
                        extracted_ports.add(port)
            
            #check whether any port names occur in the file
            common_elements_title_port = extracted_ports.intersection(all_ports)

            # Check if exactly one port name appears
            if len(common_elements_title_port) == 1:
                #if yes, this file is the cover/starting page for the port whose name appears  
                df.at[index, 'title_port'] = list(common_elements_title_port)[0]

                #isolate string contents for years
            extracted_yrs = set()
            for l in file_set:
                for yr in all_years:
                    if yr in l:
                        extracted_yrs.add(yr)    
        
        #check if any table type titles occur in the file 
            common_elements_title_year = extracted_yrs.intersection(all_years)
            
            #check if exactly one year appears in this file 
            if len(common_elements_title_year) == 1:
                #if yes, this is the cover/starting page for that year type
                df.at[index, 'title_year'] = list(common_elements_title_year)[0]
    
    #forward fills the title column, ie. every page takes the value of the last valid/occuring title port name  
    #df['title_port'] = df['title_port'].fillna(method='ffill')
    df['title_port'] = df['title_port'].ffill()
    
    if df.loc[0, 'title_port'] is np.nan:
        df.loc[0, 'title_port'] = df.loc[1, 'title_port']
    
    #within the same port name, every page takes the value of the last valid/occuring table type   
    #df["new_table_type"] = df.groupby('title_port')['title_table_type'].fillna(method="ffill")
    df["report_years"] = df.groupby('title_port')['title_year'].ffill().infer_objects(copy=False)
    
    #marks all the content pages
    #df.loc[df['file_name'].isin(content_pages), 'report_years'] = "Contents"
    
    df = df.drop(columns={"title_year"})
    df = df.rename(columns={"report_years":"title_year"})
    
    df["year"] = year
    df["file_path"] = df["file_name"] +"."+ df["file_type"]
    
    #files that come before the table types are categorized as "Notes"   
    df = df.fillna("Notes")
    
    df["title"] = df["title_port"]+ "-" +df["title_year"]
    
    return df[["title_port","title_year","year","file_path","title"]]

In [4]:
df_returns_trade_ports = title_maker(1866)

In [5]:
df_returns_trade_ports

     title_port title_year  year        file_path          title
0         Notes      Notes  1866        .DS_S.ore    Notes-Notes
1          Amoy       1863  1866     38484874.txt      Amoy-1863
2          Amoy       1863  1866     38484875.txt      Amoy-1863
3          Amoy       1863  1866     38484876.txt      Amoy-1863
4          Amoy       1863  1866     38484877.txt      Amoy-1863
...         ...        ...   ...              ...            ...
1891   Tientsin       1865  1866     38486165.csv  Tientsin-1865
1892   Tientsin       1865  1866     38486165.txt  Tientsin-1865
1893   Tientsin       1865  1866     38486166.txt  Tientsin-1865
1894   Tientsin       1865  1866  38486166_a .csv  Tientsin-1865
1895   Tientsin       1865  1866  38486166_b .csv  Tientsin-1865

[1896 rows x 5 columns]

In [6]:
df_returns_trade_ports.to_csv(source_path + str(1866) + "/data_frame.csv", index=False)

# PART II: NLP ENTITIES CREATION

### II(a) Create entities for all csv files

In [6]:
# Define the language detector factory function
def get_lang_detector(nlp, name):
    return LanguageDetector(seed=42)

# Load the spaCy model and register the language detector factory if not already registered
nlp = spacy.load('en_core_web_sm')
if 'language_detector' not in nlp.pipe_names:
    Language.factory("language_detector", func=get_lang_detector)
    nlp.add_pipe('language_detector', last=True)

@Language.component("filter_non_english_entities")
def filter_non_english_entities(doc):
    filtered_ents = []
    for ent in doc.ents:
        if all(token.is_alpha for token in ent):
            filtered_ents.append(ent)
    doc.ents = filtered_ents
    return doc

# Add the custom filter component to remove non-English entities
if 'filter_non_english_entities' not in nlp.pipe_names:
    nlp.add_pipe("filter_non_english_entities", last=True)

In [7]:
def nlp_entities_maker_csv(year):
    folder_path_csv = source_path + str(year) + '/csv'
    files_list = os.listdir(folder_path_csv)
    csv_files_df = pd.DataFrame(files_list, columns=['file_name'])
    csv_files_df['nlp_entities'] = '[]'

    for index, row in csv_files_df.iterrows():
        file_path = os.path.join(folder_path_csv, row["file_name"])
        df = pd.read_csv(file_path)

        # Load the NER model
        nlp = spacy.load('en_core_web_sm')

        # Set the max_length attribute
        nlp.max_length = 2000000
        
        if 'DESCRIPTION OF GOODS.' in df.columns:
            df["DESCRIPTION OF GOODS."] = df["DESCRIPTION OF GOODS."].fillna("").astype(str)
            combined_text = ' '.join(df["DESCRIPTION OF GOODS."].tolist())
        else:
            combined_text = ' '.join(df.astype(str).apply(lambda x: ' '.join(x), axis=1))
            column_names = ' '.join(df.columns)
            combined_text += ' ' + column_names

        # Check if 'language_detector' factory is already registered
        if 'language_detector' not in nlp.pipe_names:
            Language.factory("language_detector", func=get_lang_detector)
            nlp.add_pipe('language_detector', last=True)

        doc = nlp(combined_text)

        entities = [ent.text for ent in doc.ents if ent.label_ == 'WORK_OF_ART' or (not any(char.isdigit() for char in ent.text) and 'nan' not in ent.text.lower())]
        entity_counts = Counter(entities)
        most_common_entities = entity_counts.most_common(7)
        
        csv_files_df.at[index, 'nlp_entities'] = most_common_entities
    
    csv_files_df = csv_files_df.rename(columns={"file_name": "file_path"})
    return csv_files_df

### II(b) Create entities for all txt files

In [8]:
#clean all txt files first
def clean_txt_files(year):
    folder_path_txt = source_path + str(year) + '/txt'
    files_list = os.listdir(folder_path_txt)
    txt_files_df = pd.DataFrame(files_list,columns=['file_name'])
    
    for index, row in txt_files_df.iterrows():
        file_path = folder_path_txt + '/' + str(row['file_name'])
        with open(file_path, 'rb') as file:
            dirty_txt = file.read()
    
        clean_data = dirty_txt.decode('utf-8', 'ignore')

        # Write the clean data to the output file in text mode
        with open(file_path, 'w', encoding='utf-8') as file:
            file.write(clean_data)

In [9]:
clean_txt_files(1866)

In [10]:
def nlp_entities_maker_txt(year):
    
    # Load the NER model
    nlp = spacy.load('en_core_web_sm')
    
    # Check if 'language_detector' factory is already registered
    if 'language_detector' not in nlp.pipe_names:
        Language.factory("language_detector", func=get_lang_detector)
        nlp.add_pipe('language_detector', last=True)

    # Add the custom filter component to remove non-English entities
    nlp.add_pipe("filter_non_english_entities", last=True)

    folder_path_txt = source_path + str(year) + '/txt'
    files_list = os.listdir(folder_path_txt)
    txt_files_df = pd.DataFrame(files_list, columns=['file_name'])
    txt_files_df['nlp_entities'] = '[]'

    for index, row in txt_files_df.iterrows():
        file_path = folder_path_txt + '/' + str(row['file_name'])
        
        # Read the content of the text file
        with open(file_path, 'r', encoding='utf-8') as file:
            text = file.read()

        doc = nlp(text)

        # Excludes entities with digits and entities containing 'NaN'
        entities = [ent.text for ent in doc.ents if not any(char.isdigit() for char in ent.text) and 'nan' not in ent.text.lower()]

        # Counts the occurrences of each entity
        entity_counts = Counter(entities)

        # The 7 most common entities
        most_common_entities = entity_counts.most_common(7)

        txt_files_df.at[index, 'nlp_entities'] = most_common_entities
        txt_files_df = txt_files_df.rename(columns={"file_name": "file_path"})
    
    return txt_files_df

# FINAL FUNCTION

In [11]:
def spreadsheet_maker(year):
    try:
        csv_files_df = nlp_entities_maker_csv(year)
        txt_files_df = nlp_entities_maker_txt(year)
        nlp_entities_year = pd.concat([txt_files_df, csv_files_df], axis=0)
        df_titles_year = title_maker(year)
        all_cols_year = pd.merge(df_titles_year, nlp_entities_year, on="file_path", how="left")
        return all_cols_year
    except Exception as e:
        print(f"Error in spreadsheet_maker: {e}")
        return None

In [12]:
metadata = spreadsheet_maker(1866)
metadata.to_csv(source_path + str(1866) + "/returns_trades_ports_metadata.csv", index=False)

## Testing & troubleshooting errors

`csv` files must be properly formatted for this script to work. If the encoding is funny, or there's column of values that are not aligned correctly, the spreadsheet maker will fail. It usually works to test whether a file can be read into a dataframe. If it can't then you have to manually inspect it, dpending on the error message, and go from there.

In [24]:
folder_path_csv = source_path + str(1866) + '/csv'
files_list = os.listdir(folder_path_csv)
csv_files_df = pd.DataFrame(files_list, columns=['file_name'])

In [25]:
csv_files_df

                  file_name
0            38485819_c.csv
1    38486004_1131-1133.csv
2      38485564_691-694.csv
3            38485569_a.csv
4      38485671_798-803.csv
..                      ...
598  38486061_1188-1189.csv
599  38485976_1103-1104.csv
600          38485485_a.csv
601            38485821.csv
602          38485373_b.csv

[603 rows x 1 columns]

In [30]:
for index, row in csv_files_df.iterrows():
    #print(index, row)
    print(folder_path_csv + '/' + str(row['file_name']))
    df = pd.read_csv(folder_path_csv + '/' + str(row["file_name"]))
    print(df)

/Users/katherinemika/Desktop/curation/historic_datasets/returns_trade_ports/1866/csv/38485819_c.csv
                                          Unnamed: 0     MALWA. Unnamed: 2  \
0                                           IMPORTS,    Chests.    Weight.
1    Imported and stored on board Receiving Vessels,  19,513.50  19,513.50
2  Imported and transhipped for re-exportation wi...        391     391.00
3                      Imported direct to the Shore,        444     444.00
4                                                NaN  20,348.50  20,348.50
5  Landed from Receiving Vessels and intended chi...      9,351   9,350.75
6                                        RE-EXPORTS,        NaN        NaN
7  Transhipped from Receiving Vessels for Yangtsz...      5,951   5,950.20
8  Transhipded from Receiving Vessels for Coast P...      6,320   6,319.25
9                                                NaN     12,271  12,269.45

    PATNA. Unnamed: 4 BENARES. Unnamed: 6 PERSIAN. Unnamed: 8  TURKEY.  \
0  Chests.    Weight.  Chests.    Weight.  Chests.    Weight.  Chests.
1    7,183   8,619.60    1,003   1,203.60       25      25.00       17
2        7       8.40        4       4.80       10      10.00      NaN
3      207     248.40        3       3.60       37      37.00      NaN
4    7,397   8,876.40    1,010   1,212.00       72      72.00       17
5    7,112   8,533.26      911   1,093.20        1       1.00      NaN
6      NaN        NaN      NaN        NaN      NaN        NaN      NaN
7       96     115.20        5       6.00       27      27.00      NaN
8   337.50     405.00       30      36.00       40      40.00       17
9   433.50     520.20       35      42.00       67      67.00       17

  Unnamed: 10
0     Weight.
1       13.00
2         NaN
3         NaN
4       13.50
5         NaN
6         NaN
7         NaN
8       13.50
9       13.50
/Users/katherinemika/Desktop/curation/historic_datasets/returns_trade_ports/1866/csv/38486004_1131-1133.csv
    DESCRIPTION OF GOODS. CLASSIFIER OF QUANTITY.  HONGKONG.  Unnamed: 3  \
0                     NaN                     NaN  Quantity.         NaN
1                Chintez,                  Pieces        315         NaN
2          Cottons, Dyed,                       „      2,695         NaN
3               Dimities,                       „        100         NaN
4       Drills, American,                       „        794         NaN
..                    ...                     ...        ...         ...
116            „ Kranjee,                  Pieces        NaN         NaN
117                „ Red,                  Peculs         35         NaN
118              „ Sapan,                       „         60         NaN
119             „ Sandal,                       „         15         NaN
120                Total.                 Dollars        NaN         NaN

    Unnamed: 4 BRITISH POSSESSIONS IN THE STRAITS.  Unnamed: 6 Unnamed: 7  \
0       Value.                           Quantity.         NaN     Value.
1        1,102                                 NaN         NaN        NaN
2        8,355                                   5         NaN         15
3          150                                 NaN         NaN        NaN
4        3,970                                  20         NaN        100
..         ...                                 ...         ...        ...
116        NaN                                 120         NaN         96
117        105                                 325         NaN        975
118        240                               2,050         NaN      8,200
119        225                                  44         NaN        660
120  3,754,768                                 NaN         NaN    117,798

       SAIGON.  Unnamed: 9 Unnamed: 10     TOTAL.  Unnamed: 12 Unnamed: 13
0    Quantity.         NaN      Value.  Quantity.          NaN      Value.
1          NaN         NaN         NaN        315          NaN       1,102
2          NaN         NaN         NaN      2,700          NaN       8,370
3          NaN         NaN         NaN        100          NaN         150
4          NaN         NaN         NaN        814          NaN       4,070
..         ...         ...         ...        ...          ...         ...
116        NaN         NaN         NaN        120          NaN          96
117        NaN         NaN         NaN        360          NaN       1,080
118      1,878         NaN       7,512      3,988          NaN      15,952
119        NaN         NaN         NaN         59          NaN         885
120        NaN         NaN      40,609        NaN          NaN   3,913,175

[121 rows x 14 columns]
/Users/katherinemika/Desktop/curation/historic_datasets/returns_trade_ports/1866/csv/38485564_691-694.csv
               DESCRIPTION OF GOODS.    IN 260 BRITISH VESSELS. Unnamed: 2  \
0                                NaN  Aggregate Tonnage 34,432.        NaN
1                                NaN                    Pieces.    Peculs.
2                         Agar Agar,                        NaN          1
3                           Almonds,                        NaN         40
4                       Alum, White,                        NaN      3,965
..                               ...                        ...        ...
196                          „ Laka,                        NaN        119
197                        „ Sandal,                        NaN        NaN
198                            Wool,                        NaN         78
199  Woollen and Cotton Piece Goods,                        NaN        NaN
200                              NaN                        NaN        NaN

    Unnamed: 3     IN 51 FRENCH VESSELS. Unnamed: 5 Unnamed: 6  \
0          NaN  Aggregate Tonnage 3,183.        NaN        NaN
1         Cts.                   Pieces.    Peculs.       Cts.
2           38                       NaN        NaN        NaN
3           83                       NaN          4         23
4           59                       NaN         28         50
..         ...                       ...        ...        ...
196         86                       NaN        NaN        NaN
197        NaN                       NaN        NaN        NaN
198         75                       NaN        NaN        NaN
199        NaN                       NaN        NaN        NaN
200        NaN                       NaN        NaN        NaN

      IN 137 AMERICAN VESSELS. Unnamed: 8 Unnamed: 9  \
0    Aggregate Tonnage 10,415.        NaN        NaN
1                      Pieces.    Peculs.       Cts.
2                          NaN        NaN        NaN
3                          NaN         58         13
4                          NaN        262         00
..                         ...        ...        ...
196                        NaN        NaN        NaN
197                        NaN          2         30
198                        NaN        NaN        NaN
199                        NaN        NaN        NaN
200                        NaN        NaN        NaN

         IN 53 SUNDRY VESSELS. Unnamed: 11 Unnamed: 12  \
0    Aggregate Tonnage 11,195.         NaN         NaN
1                      Pieces.     Peculs.        Cts.
2                          NaN         NaN         NaN
3                          NaN          36          04
4                          NaN       6,267          00
..                         ...         ...         ...
196                        NaN         NaN         NaN
197                        NaN         NaN         NaN
198                        NaN          93          40
199                         70         NaN         NaN
200                        NaN         NaN         NaN

          IN 38 NINGPO BOATS. Unnamed: 14 Unnamed: 15  \
0    Aggregate Tonnage 1,818.         NaN         NaN
1                     Pieces.     Peculs.        Cts.
2                         NaN         NaN         NaN
3                         NaN           1          62
4                         NaN         662          00
..                        ...         ...         ...
196                       NaN         NaN         NaN
197                       NaN         NaN         NaN
198                       NaN         NaN         NaN
199                       NaN         NaN         NaN
200                       NaN         NaN         NaN

         TOTAL IN 539 VESSELS. Unnamed: 17 Unnamed: 18 ESTIMATED VALUE.
0    Aggregate Tonnage 61,043.         NaN         NaN              NaN
1                      Pieces.     Peculs.        Cts.      Mex. Dolls.
2                          NaN           1          38                8
3                          NaN         140          85            2,535
4                          NaN      11,185          09           16,778
..                         ...         ...         ...              ...
196                        NaN         119          86              479
197                        NaN           2          30               27
198                        NaN         172          15            1,291
199                         70         NaN         NaN              210
200                        NaN         NaN         NaN        2,023,914

[201 rows x 20 columns]
/Users/katherinemika/Desktop/curation/historic_datasets/returns_trade_ports/1866/csv/38485569_a.csv
               DESTINATION.  CONGOU. Unnamed: 2 SOUCHONG. Unnamed: 4  OOLONG.  \
0                       NaN  Peculs.       Cts.   Peculs.       Cts.  Peculs.
1    Great Britain, direct,      NaN        NaN       NaN        NaN      NaN
2            United States,      NaN        NaN       NaN        NaN      NaN
3  Hongkong and Cost Ports,      NaN        NaN       NaN        NaN      NaN
4                Australia,      NaN        NaN       NaN        NaN      NaN
5             Total Peculs,      NaN        NaN       NaN        NaN      NaN

  Unnamed: 6 FLOWERY PEKOE.  Unnamed: 8 TOTAL BLACK.  ... TWANKAY.  \
0       Cts.         Peculs.       Cts.      Peculs.  ...  Peculs.
1        NaN             NaN        NaN          NaN  ...      NaN
2        NaN             NaN        NaN          NaN  ...      NaN
3        NaN             NaN        NaN          NaN  ...      387
4        NaN             NaN        NaN          NaN  ...      NaN
5        NaN             NaN        NaN          NaN  ...      387

  Unnamed: 18 IMPERIAL. Unnamed: 20 GUNPOWDER. Unnamed: 22 TOTAL GREEN.  \
0        Cts.   Peculs.        Cts.    Peculs.        Cts.      Peculs.
1         NaN       NaN         NaN        NaN         NaN          NaN
2         NaN       NaN         NaN        NaN         NaN          NaN
3          22       782          13      1,017          03        5,177
4         NaN       NaN         NaN        NaN         NaN          NaN
5          22       782          13      1,017          03        5,177

  Unnamed: 24 TEA LEAF. Unnamed: 26
0        Cts.   Peculs.        Cts.
1         NaN       NaN         NaN
2         NaN       NaN         NaN
3          82     9,370          79
4         NaN       NaN         NaN
5          82     9,370          79

[6 rows x 27 columns]
/Users/katherinemika/Desktop/curation/historic_datasets/returns_trade_ports/1866/csv/38485671_798-803.csv
      DESCRIPTION OF GOODS. IN 238 BRITISH VESSELS.*  Unnamed: 2 Unnamed: 3  \
0                       NaN         Aggregate 73,297.        NaN        NaN
1                       NaN                   Pieces.    Peculs.       Cts.
2    Plain Shirtings, Grey,                   450,853        NaN        NaN
3                 „ „ Dyed,                     8,496        NaN        NaN
4                „ „ White,                   73,6806        NaN        NaN
..                      ...                       ...        ...        ...
298              „ Seented,                        40          2         40
299                „ Knees,                       NaN        NaN        NaN
300              Wood-Ware,                       NaN        NaN        NaN
301                   Wool,                       NaN         38          0
302                     NaN                       NaN        NaN        NaN

    Unnamed: 4 IN 103 AMERICAN VESSELS.†  Unnamed: 6 Unnamed: 7 Unnamed: 8  \
0          NaN  Aggregate Tonnage 23,371.        NaN        NaN        NaN
1        Pkgs.                    Pieces.    Peculs.       Cts.      Pkgs.
2          NaN                    153,856        NaN        NaN        NaN
3          NaN                      6,000        NaN        NaN        NaN
4          NaN                     40,271        NaN        NaN        NaN
..         ...                        ...        ...        ...        ...
298        NaN                        NaN          1         22        NaN
299        NaN                        NaN        NaN        NaN        NaN
300        NaN                        NaN        NaN        NaN        NaN
301        NaN                        NaN        NaN        NaN        NaN
302        NaN                        NaN        NaN        NaN        NaN

      IN 203 SUNDRY VESSELS.‡  Unnamed: 10 Unnamed: 11 Unnamed: 12  \
0    Aggregate Tonnage 26,581.         NaN         NaN         NaN
1                      Pieces.     Peculs.        Cts.       Pkgs.
2                      247,072         NaN         NaN         NaN
3                        2,748         NaN         NaN         NaN
4                       92,161         NaN         NaN         NaN
..                         ...         ...         ...         ...
298                        NaN          13          60         NaN
299                        NaN         NaN         NaN         NaN
300                        NaN          12          84         NaN
301                        NaN         NaN         NaN         NaN
302                        NaN         NaN         NaN         NaN

        TOTAL IN 544 VESSELS.§  Unnamed: 14 Unnamed: 15 Unnamed: 16  \
0    Aggregate Tonnage 123,249.         NaN         NaN         NaN
1                       Pieces.     Peculs.        Cts.       Pkgs.
2                       851,781         NaN         NaN         NaN
3                        17,244         NaN         NaN         NaN
4                       206,238         NaN         NaN         NaN
..                          ...         ...         ...         ...
298                         NaN          17          22         NaN
299                          40         NaN         NaN         NaN
300                         NaN          12          84         NaN
301                         NaN          38          00         NaN
302                         NaN         NaN         NaN         NaN

    ESTIMATED VALUE.
0                NaN
1             Taels.
2       1,533,205.80
3          43,110.00
4         391,852.20
..               ...
298           206.60
299             4.00
300           256.80
301           285.00
302    *8,929,514.90

[303 rows x 18 columns]
/Users/katherinemika/Desktop/curation/historic_datasets/returns_trade_ports/1866/csv/38485862_a .csv
                    FLAGS. ENTERED INWARDS. Unnamed: 2   Unnamed: 3  \
0                      NaN      WITH CARGO.        NaN  IN BALLAST.
1                      NaN              No.      Tons.          No.
2                 British,              935    465,736           76
3                American,              486    271,611           30
4                  French,               40     20,644            1
5                 Russian,                6      2,773            1
6                Prussian,               16      3,729            4
7                  Danish,                9      2,356            2
8   Norweigan and Swedish,                5      1,213          NaN
9                   Dutch,               15      4,689            1
10                Hamburg,               56     20,944            8
11                 Bremen,               22      7,321            3
12                Hanover,                3        531          NaN
13            Mecklenburg,                3        506          NaN
14              Oldenburg,                2        296          NaN
15                Spanish,                6      1,528          NaN
16             Australian,                2        468          NaN
17                Italian,                2        808          NaN
18                Siamese,                6      2,818          NaN
19                  Total,            1,614    807,971          126

   Unnamed: 4 Unnamed: 5 Unnamed: 6                FLAGS..1 CLEARED OUTWARDS.  \
0         NaN     TOTAL.        NaN                     NaN       WITH CARGO.
1       Tons.        No.      Tons.                     NaN               No.
2      22,222      1,011    487,958                British,               858
3      11,321        516    282,932               American,               466
4          66         41     20,710                 French,                37
5         142          7      2,915                Russian,                 4
6       1,237         20      4,966               Prussian,                16
7         265         11      2,621                 Danish,                 6
8         NaN          5      1,213  Norweigan and Swedish,                 6
9         450         16      5,139                  Dutch,                15
10      3,150         64     24,094                Hamburg,                53
11      1,632         25      8,953                 Bremen,                22
12        NaN          3        531                Hanover,                 7
13        NaN          3        506            Mecklenburg,                 3
14        NaN          2        296              Oldenburg,                 2
15        NaN          6      1,528                Spanish,                 7
16        NaN          2        468             Australian,                 4
17        NaN          2        808                Italian,                 3
18        NaN          6      2,818                Siamese,                 6
19     40,485      1,740    848,456                  Total,             1,515

   Unnamed: 9  Unnamed: 10 Unnamed: 11 Unnamed: 12 Unnamed: 13
0         NaN  IN BALLAST.         NaN      TOTAL.         NaN
1       Tons.          No.       Tons.         No.       Tons.
2     418,353          208     100,055       1,066     518,408
3     268,497           46      20,327         512     288,824
4      18,100           11       4,209          48      22,309
5       1,961            1         709           5       2,670
6       4,228            7       1,441          23       5,669
7       1,611            4       1,085          10       2,696
8       1,364            2         505           8       1,869
9       4,647            4       1,557          19       6,204
10     18,155            9       3,183          62      21,338
11      7,990            2       1,529          24       8,519
12      1,261          NaN         NaN           7       1,261
13        498          NaN         NaN           3         498
14        298          NaN         NaN           2         298
15      1,835          NaN         NaN           7       1,835
16      1,216            1         519           5       1,735
17      1,157          NaN         NaN           3       1,157
18      2,457          NaN         NaN           6       2,457
19    753,628          295     134,119       1,810     887,747
/Users/katherinemika/Desktop/curation/historic_datasets/returns_trade_ports/1866/csv/38485151.csv
      DESCRIPTION OF GOODS. IN 11 BRITISH VESSELS. Aggregate Tonnage 3,710.  \
0                       NaN                                         Pieces.
1          Aniseed, Broken,                                             NaN
2                   „ Star,                                             NaN

In [18]:
df = pd.read_csv("/Users/katherinemika/Desktop/curation/historic_datasets/trade_statistics_treaty_ports/1873/csv/44319905.csv")
df

,Unnamed: 0,1863.,1864.,1865.,1866.,1867.,1868.,1869.,1870.,1871.,1872.
0,NaN,Hk. Tts. m.c.c,Hk. Tts. m.c.c,Hk. Tts. m.c.c,Hk. Tts. m.c.c,Hk. Tts. m.c.c,Hk. Tts. m.c.c,Hk. Tts. m.c.c,Hk. Tts. m.c.c,Hk. Tts. m.c.c,Hk. Tts. m.c.c
1,"British,","1,817.9.2.3","24,333.7.2.1","22,135.5.3.8","11,724.2.3.3","23,545.4.9.5","16,915.4.3.8","17,377.7.3.2","30,045.0.5.4","52,714.5.7.8","58,395.8.6.8"
2,"American,",NaN,NaN,693.0.5.6,811.9.8.1,131.5.5.6,"1,423.1.9.7",NaN,"3,372.5.0.0","3,686.6.1.5","3,712.9.3.2"
3,"French,",NaN,694.0.6.6,"2,168.6.3.1",689.5.44,"3,293.5.6.3","3,918.0.7.1","3,152.8.1.4","3,937.7.8.0","6,972.3.8.4","3,311.8.8.2"
4,"Swedish and Norwegian,",NaN,"1,728.1.4.3","2,135.6.8.1",979.1.4.2,NaN,881.42.7,NaN,"5,953.6.0.8","7,995.9.2.0","3,766.8.2.1"
5,"Russian,",NaN,NaN,NaN,NaN,NaN,NaN,"2,052.0.0.0",NaN,662.6.7.6,NaN
6,"German,","6,818.6.3.0","11,523.7.8.4","21,367.0.54","34,574.9.3.9","40,324.5.8.5","27,558.1.3.3","43,008.7.4.5","49,000.0.6.1","21,682.1.9.2","33,014.9.3.2"
7,"Danish,","7,573.9.4.0","9,571.6.7.9","5,704.0.2.9",388.9.4.9,"1,175.9.8.9",NaN,"5,336.4.2.2","13,045.3.9.0","12,889.0.90","1,525.4.6.4"
8,"Dutch,",NaN,NaN,308.3.4.5,"2,166.4.4.7",NaN,790.6.9.0,"1,697.5.9.4","6,077.4.3.8","10,203.4.0.6","5,412.7.5.7"
9,"Spanish,",NaN,NaN,77.2.0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,"Belgian,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,"Italian,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,"Austrian,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,"Non-Treaty Powers,",NaN,NaN,339.0.9.5,29.0.4.5,NaN,NaN,75.6.3.6,350.1.9.0,491.0.1.2,"1,553.2.3.5"
14,"Transit Dues,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,743.4.2.0,NaN,NaN
15,"TOTAL,","16,210.4.8.3","47,351.3.9.3","54,988.6.2.8","51,364.2.8.0","68,471,1.8.8","51,486.9.5.6","72,700.9.43","112,525.4.4.1","117,297.8.7.3","110,694.8.9.1"